<div id="footer" class="row" style="background-color:rgb(65,97,119);">
			<div class="row" >
				<div class="col-md-1"></div>
				<div class="col-md-9" style="">
					<ul class="footer" style=" float:left; margin-left:30%">
						<li><a style="color:white" href="/plan-du-site">Plan du site</a></li> |
						<li><a style="color:white" href="/groupe/presentation-groupe">Qui sommes-nous ?</a></li> |
						<li><a style="color:white" href="/groupe/equipes-recrutement">Nos équipes </a></li> |
						<li><a style="color:white" href="/groupe/temoignages">Témoignages clients</a></li> |
						<li><a style="color:white" href="/groupe/nous-contacter">Nous contacter</a></li>
				</ul>
				</div>				
				<div class="col-md-2"></div>
			</div>
			<div class="row" style="margin-left:10%; vertical-align:middle; margin-top:20px;">
				<p style="text-align:center;color:white">
					<a style="color:white" href="/groupe/mentions-legales">Mentions légales</a> - <a style="color:white" href="/groupe/donnees-personnelles">Protection des données personnelles</a> -
					Tous droits réservés © Cabinet Immobilier du Monde - Agence immobiliere - 2000-2016<br>
					L'extraction et l'utilisation à des fins professionnelles ou commerciales de 
					tout ou partie de la présente base de données sont interdites.
				</p>
			</div>		
	</div>