<header>
	  		<div >
	  			<div class="row">
	  			<div class="col-md-2"></div>
	  			<div class="col-md-5">
	  			<div class="banniere"> 
	  				<img src="/images/keur-logo.png" alt="Logo KeurGui" style="max-height:90px; max-width:90px" >
	  			</div>
	  			<div class="banniere" style="margin:15px 15px; color:blue;"> 
	  				<h3 style="padding:0; margin:0; font-weight:bold">Cabinet Immobilier du Monde</h3>
	  				<span style="color:#707070; ">La Vente à temps réel</span>
	  			</div>
	  			</div>
	  			<div class="col-md-5">
	  			<ul>
											<!-- Utilisateur non connecté -->
						<li style="-webkit-user-select: none;  white-space: nowrap; opacity: 1;">
							<a href="#/" class="user-space">
								<div>
									<i class="glyphicon glyphicon-user"></i>
									<strong>Espace Proprio</strong>
								</div>
								
								<small>Connectez-vous</small>
							</a>
							
						</li>
						<strong style="color:#707070; margin-right:20px;">|</strong>
					
					<li class="contact-crc" style="white-space: nowrap;">
						<a href="tel:+221777049088">
							<div>
								<i class="glyphicon glyphicon-phone"></i>
								<strong>33 830 35 35</strong><br/>
								<strong>77 704 90 88</strong>
							</div>
							
							<small>du lundi au samedi de 9h à 18h</small>
						</a>
					</li>				
				</ul>
				</div>
	  			</div>
	  		</div>
	  			
	  	</header>