<div class="row" >
	<div class="col-md-2">
		<!-- <div ng-include="'views/templates/publicites.html'"></div> -->
	</div>
	<div class="col-md-8" style="margin:0; padding:0;">
		<div  style="background-color:white;border:3px solid #f2f2f2;overflow:hidden; display:inline-table; width:32%;margin:1px " ng-repeat="annonce in annonces">

			<img src="/images/appartement.jpg" style="width:100%; margin-top:0px;">
			<img src="/images/bien-exclusif.png" class="annonce" style="position:relative;top:-170; left:-0;"/>

			<div style="color:blue; margin-top:-70px">Etat : <strong style="color:green; font-size:16px;" >{{annonce.etat }}</strong > </div>
			<div style="color:blue; border:1px solid red; margin-bottom:-25px"> 
				<em>{{annonce.description }}, {{ annonce.superficie }}</em><br/>
				<em>{{ annonce.locaux }}</em>
			</div>
			<div style="background-color:white; color:rgb(127,199,224); position:relative; top:-200px;right:-195px; z-index:3; font-weight:bold; padding:3px " >{{ annonce.prix }}</div>
			<!--<strong style="color:blue; float:right">125 000 XOF</strong> -->
		</div>
	</div>

	<div class="col-md-2">
		<div ng-include="'views/templates/publicites.html'"></div>
	</div>

</div>
<div class="row" style="height:100px; border:1px solid green"></div>
